*{
  border: 1px solid pink;
}

.main-header{
  display: flex;
  justify-content: space-between;
}

.main-shoe-container{
  display:flex;
}


.main-shoe-buy-now{
  display: flex;
}

.main-product-header{
  display: flex;
  justify-content: space-between;
}

.main-product-header-reviews{
  display: flex;
}

.recommended-shoe-header{
  display: flex;
  justify-content: center;
}

.recommended-shoes-container{
  display: flex;
  justify-content: space-evenly;
}

.main-footer{
  display: flex;
  justify-content: space-between;
}

#nav-right-footer{
  display: flex;
}

/* *{
  background-color: white;
  box-sizing: border-box;
}

body{
  margin: 0px;
}

nav{
  display: flex;
  justify-content: space-between;
}

#navigation{
  height: 70px;
  width: 100%;
}

#main-shoe{
  width: 40%;
}

.left-nav{
  border-color: purple;
  display: inline-block;
  text-transform: uppercase;
}

.right-nav{
  border-color: lime;
  display: inline-block;
}

.left-nav a{
  text-decoration: none;
}

.right-nav a{
  text-decoration: none;
}

.top-shoe-img img {
  width: fill;
}

#main-shoe{
  padding: 5px;
  background-image: linear-gradient(to right, #DF1F63, #FF4620);
}

#top-shoe{
  display: flex;
}

.top-shoe-container{
  width: 75%;
}

.top-shoe-right{
  width: 25%
}

.top-shoe-right h1{

}

.top-shoe-right p {
  border-top: dashed;
} */
