.container{
  max-width: 1200px;
  padding: 5%;
  margin: auto;
}

*{
  border: 1px solid pink;
}

img{
  max-height: 100%;
  max-width: 100%;
}

a{
  text-decoration: none;
  padding: 5px;
}

#site-logo{
  width: 40px;
}

#shopping-cart-logo{
  width: 20px;
}

.main-header{
  display: flex;
  justify-content: space-between;
}

.main-shoe-container{
  display:flex;
  background-image: linear-gradient(to right, #DF1F63, #FF4620);
}


.main-shoe-buy-now{
  display: flex;
}

.main-product-header{
  display: flex;
  justify-content: space-between;
}

.main-product-header-reviews{
  display: flex;
}

.recommended-shoe-header{
  display: flex;
  justify-content: center;
  background: #FEE7EE;
}

.recommended-shoes-container{
  display: flex;
  justify-content: space-evenly;
  background-image: linear-gradient(to right, #DF1F63, #FF4620);
}

.main-footer{
  display: flex;
  justify-content: space-between;
}

#nav-right-footer{
  display: flex;
  align-items: center;
}
.nav-left{
  align-items: center;
  display: flex;}

/* *{
  background-color: white;
  box-sizing: border-box;
}

body{
  margin: 0px;
}

nav{
  display: flex;
  justify-content: space-between;
}

#navigation{
  height: 70px;
  width: 100%;
}

#main-shoe{
  width: 40%;
}

.left-nav{
  border-color: purple;
  display: inline-block;
  text-transform: uppercase;
}

.right-nav{
  border-color: lime;
  display: inline-block;
}

.left-nav a{
  text-decoration: none;
}

.right-nav a{
  text-decoration: none;
}

.top-shoe-img img {
  width: fill;
}

#main-shoe{
  padding: 5px;
  background-image: linear-gradient(to right, #DF1F63, #FF4620);
}

#top-shoe{
  display: flex;
}

.top-shoe-container{
  width: 75%;
}

.top-shoe-right{
  width: 25%
}

.top-shoe-right h1{

}

.top-shoe-right p {
  border-top: dashed;
} */
